
<nav>
	<li id="headline"><a href="/">STRIDE MOVERS</a></li>
	<li id="phone_headline"><a href="/">STRIDE<br>MOVERS</a></li>
	<li id="call_header">Need help moving?<br>Call us @ 917-822-6031</li>
	<ul>
		<div class="dropdown">
			<a class="dropbtn" href="#about">About</a>
				<div class="dropdown-content">
					<a href="#partner">Become a Partner</a>
				</div>
		</div>
		<li><a href="#movingtips">Moving Tips</a></li>
		<li><a href="#testimonials">Testimonials</a></li>
		<li><a href="#fleet">Our Fleet</a></li>
		<li><a href="#contact">Contact</a></li>
	</ul>
</nav>
<div id="big_image_background">
</div>
<div class="main">	
	<div id="get_quote">
		<a href="#quote"><h3>GET A FREE QUOTE NOW</h3></a>
	</div>
	<div id="about">
		<div id="about_content">
			<h1>Brooklyn's Most Trusted Movers</h1>
				<br>
				<p>
					Whether you're staying in NYC or headed out of town, we've got you covered. We are a licensed and insured full-service moving company providing comprehensive services for local and long-distance residential and/or commercial moves.
				</p>
			<h3>History:​</h3>
				<p>
					Our founders have been in​ the moving industry for over fifteen years.​ They started​ Stride Movers​ with a simple but sincere mission​ - ​to provide impeccable customer service and get the job done right. Every time​.
				</p>
				<p>
					Every move we do, regardless of size or location, receives the same degree of professionalism and attention to detail. Through preparation, experience, and solid work ethic, we transform moving from a stressful experience to a seamless one.
				</p>
				<br>
			<h3>Certifications:</h3>
				<img class="icons" src="images/NYSDOS_logo.png">
				<img class="icons" src="images/NYCDOT_logo.jpg">
				<a class="widget ng-scope" ng-href="https://www.thumbtack.com/-Brooklyn-NY/service/2335748" target="_blank" href="https://www.thumbtack.com/-Brooklyn-NY/service/2335748">
					<img class="icons" ng-src="https://static.thumbtackstatic.com/media/pages/profile/standard-widgets/pro-svg/orange/2016.svg" src="https://static.thumbtackstatic.com/media/pages/profile/standard-widgets/pro-svg/orange/2016.svg">
				</a>
				<script type='text/javascript' src='https://www.thumbtack.com/profile/widgets/scripts/?service_id=lx8Y$0b482:M6g&widget_id=profile'>
				</script>
				<br><br>
				<h4>USDOT NUMBER: 2872099</h4>
				<br>
		</div>
	</div>
	<div id="movingtips">
		<h1>Be Prepared</h1>
			<br><br>
			<p>Make sure that you have <b>moving permission</b> from the building if you need it. Many New York buildings have rules about moving times, and which doors can be used. If there is an elevator on either end, and it needs to be reserved through your building management for moves, remember to reserve it.</p>
			<p><b>Protect your valuables</b>. Fragile items (dishes, pictures and glass) should be protected. Wrap glass pictures in cardboard and/or bubble-wrap.</p>
			<p><b>Be Packed</b>. Don’t pack a giant box full of books. Use small boxes or only put some books in the box, and fill the rest with lighter items. </p>
			<p>If you need to use garbage bags, <b>use contractor bags</b> (find them in any hardware store)</p>
			<p><b>Dismantle</b> your bed and futon frames ahead of time.</p>
			<p>Empty all drawers.</p>
			<h3><b>Don't wait until the last minute!</b></h3>
			<br>
			<p><b>Check out some more tips here:</b></p>

			<button>
				<a href="http://www.buzzfeed.com/peggy/brilliant-moving-tips#.uizz6YLN3" target="_blank"><img src="images/BuzzFeed_logo.png"><br>Brilliant Moving Tips</a>
			</button>
			<button>
				<a href="http://moving.about.com/od/packingtipsandtricks/tp/pop_packing_tip.htm" target="_blank"><img src="images/abouthome_logo.jpeg" height="50px"><br>How to Pack Without Breaking</a>
			</button>
			<button>
				<a href="http://www.realsimple.com/home-organizing/organizing/moving/moving-packing-tips" target="_blank"><img src="images/realsimple_logo.png"><br>Moving & Packing Tips</a>
			</button>
			<br>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/F_OeM6npgKA" frameborder="0" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/GBKNTvdqEZg" frameborder="0" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/UZY7Wdngnfs" frameborder="0" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/CNT81i5KypA" frameborder="0" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/SKD6I7ckKM0" frameborder="0" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/HsATFze_w7k" frameborder="0" allowfullscreen></iframe>

			<h4>USDOT NUMBER: 2872099</h4>
				<br><br>
	</div>
	<div data-stellar-ratio="2" id="testimonials">
		<div class="individual_testimonial">
			<h1>Testimonials</h1>
				<h4>Hear what some of our satisfied customers are saying, and check us out on <br><a href="https://www.yelp.com/biz/stride-movers-brooklyn" target="_blank"><img src="images/yelp.png"></a></h4>
		</div>
		<div id="all_testimonials">
			<div class="individual_testimonial">
				<p>Stride helped move me in to my current apartment in Brooklyn a few years back. They're <b>hands down the best</b>. I don't even know how they managed to get our couch into a basement around an impossible corner of rough cement walls without a single mark, but they did and made it look pretty effortless. Everything was well taken care of and they listened to us and planned out the move perfectly. Moving is an art and <b>these dudes are masters</b>. They're also really level headed and have worked as movers for years in the city moving all types of folks from well off financial people with expensive everythings to your run of the mill musicians with day jobs like myself before venturing on to start his own company. If you're lucky enough to be able to book these folks for your date, then take them before anyone else. <b>Highly highly recommended!</b></p>
				<h4>- James L.</h4>
			</div>
			<div class="individual_testimonial">
				<p>Don't look any further! I've worked with Stride on several different occasions and all times were EXCELLENT. They are my go-to movers and heavy lifters! I manage a high end furniture showroom in Soho and brought Stride in as our regular movers. They understood the delicacy of handling our very expensive items but always finished the <b>job ahead of schedule</b>! I also used them on several residential projects where they moved, assembled, and installed a variety of pieces for myself or my clients. Noel has an eye for space and when someone else says you need two trucks or two trips to get the job done, <b>Noel makes it happen</b> in one! He doesn't do this by cutting corners. He does this by using his brain and years of experience!!!</p>
				<br>
				<h4>- Mel S.</h4>
			</div>
			<div class="individual_testimonial">
				<p><b>Amazing.</b> Professional, experienced, lovely. A thorough, long-distance job from NYC to DC with a stop at my New York storage unit. Have worked with pricey, reputable companies in the city and found Stride Movers to be just as wonderful and a fraction of the price. Olson, the owner, clearly knows what he's doing and is wonderful from start to finish. My <b>furniture was beautifully wrapped and protected</b> and he went above and beyond to make sure everything was organized, safe, and stress-free for the client. I highly recommend Stride Movers. I almost felt guilty for how easy they made what is usually such a stressful endeavor. They treated me and my things with a care and respect that <b>exceeded expectations</b>. Excellent value, excellent service. Whether you're working with a budget or simply looking for NYC's best movers, this is who you should call.</p>
				<h4>- Abigail C.</h4>
			</div>
			<div class="individual_testimonial">
				<h4>USDOT NUMBER: 2872099</h4>
			</div>
		</div>
	</div>
	<div id="fleet">
		<h1>Our Fleet</h1>
			<h3>We will help you decide which vehicle is best for you</h3>
				<h4>Cargo Van</h4>
					<img src="images/cargo_van.png"><br>
				<h4>20ft Box Truck</h4>
					<img src="images/20foot.png"><br>
				<h4>26ft Box Truck</h4>
					<img src="images/26foot.png"><br>
				<h4>USDOT NUMBER: 2872099</h4><br>
	</div>
	<div id="quote">
		<h1>Need a quote?<br>Fill out this form and we'll get back to you within 24 hours</h1>
			<h3>[Click <button id="rates" onclick="openRatesModal()">HERE</button> to see our general rates]</h3>

			<div id="rates_outer_modal" onclick="closeRatesModal()">
				<div id="rates_modal">
					<a href=""><p id="close_rates_modal">X</p></a>	
						<h1 class="report_title">General Rates</h1>
							<h2>1 man and a van: <b>$75/hr</b> (2 hour minimum)</h2>
							<h2>2 men and a van: <b>$100/hr</b> (2 hour minimum)</h2>
							<h2>2 men and a 20ft truck: <b>$125/hr</b> (3 hour minimum)</h2>
							<h2>3 Men and a 20ft truck: <b>$150/hr</b> (3 hour minimum)</h2>
							<h2>2 Men and a 26ft truck: <b>$250/hr</b> (4 hour minimum)</h2>
							<h2>3 men and a 26ft truck: <b>$350/hr</b> (4 hour minimum)</h2>
				</div>
			</div>
	

			<form action="/email" method="POST">
			  <label for="name">Name*</label>
			  	<br>
	          <input type="text" name="name">
	          	<br>
	          <label for="email">Email*</label>
	          	<br>
	          <input type="email" name="mail">
	         	 <br>
	          <label for="phone">Phone*</label>
	          	<br>
	          <input type="text" name="phone">
	          	<br>
	          <label for="phone2">Secondary phone</label>
	          	<br>
	          <input type="text" name="phone2">
	          	<br>
	          <label for="refer">How did you hear about us?</label>
	          	<br>
	          <input type="text" name="refer">
	          	<br>
	          <label for="date">Potential moving dates (and times)</label>
	          	<br><br>
	          <label for="date1">Date #1:</label>
	          <input type="date" name="date1" class="short_box">
	          <label for="time1">Time:</label>
	          <input type="time" name="time1" class="short_box">
	          	<br>
	          <label for="date2">Date #2:</label>
	          <input type="date" name="date2" class="short_box">
	          <label for="time1">Time:</label>
	          <input type="time" name="time2" class="short_box">
	          	<br>
	          <label for="date3">Date #3:</label>
	          <input type="date" name="date3" class="short_box">
	          <label for="time1">Time:</label>
	          <input type="time" name="time3" class="short_box">
	          	<br>
	          <label for="datedetails">Specifics regarding dates and times</label>
	          	<br>
	          <textarea type="text" name="datedetails"></textarea>
	          	<br>
	          <label for="starting">Starting Address*</label>
	          	<br>
	          <textarea type="text" name="starting"></textarea>
	          	<br>	       
	          <label for="stairs_start">What is the staircase/elevator situation at the starting location?</label>
	         	<br>
	          <select name="stairs_start">
			  	<option value=" " selected>Select One</option>
			  	<option value="Ground floor">Ground floor</option>
			  	<option value="Elevator">Elevator</option>
			  	<option value="1 flight of stairs">1 flight of stairs</option>
			  	<option value="2 flights of stairs">2 flights of stairs</option>
			  	<option value="3 flights of stairs">3 flights of stairs</option>
			  	<option value="4 flights of stairs">4 flights of stairs</option>
			  	<option value="5 flights of stairs">5 flights of stairs</option>
			  </select>
			  	<br>
			  <label for="stairdetails_start">Details about the staircase/elevator situation</label>
	         	<br>
	          <textarea type="text" name="stairdetails_start"></textarea>
	          	<br>
	          <label for="COI">Does the building require Certificate of Insurance</label>
	          	<br>
	          <select name="certificate">
	          	<option value=" " selected>Select One</option>
			  	<option value="Yes">Yes</option>
			  	<option value="No">No</option>
	          </select>
	          	<br>
	          <label for="ending">Ending Address</label>
	          	<br>
	          <textarea type="text" name="ending"></textarea>
	          	<br>
	          
	          <label for="stairs_end">What is the staircase/elevator situation at the ending location?</label>
	         	<br>
	          <select name="stairs_end">
			  	<option value=" " selected>Select one</option>
			  	<option value="Ground floor">Ground floor</option>
			  	<option value="Elevator">Elevator</option>
			  	<option value="1 flight of stairs">1 flight of stairs</option>
			  	<option value="2 flights of stairs">2 flights of stairs</option>
			  	<option value="3 flights of stairs">3 flights of stairs</option>
			  	<option value="4 flights of stairs">4 flights of stairs</option>
			  	<option value="5 flights of stairs">5 flights of stairs</option>
			  </select>
			  	<br>
			  <label for="stairdetails_send">Details about the staircase/elevator situation</label>
	         	<br>
	          <textarea type="text" name="stairdetails_end"></textarea>
	          	<br>
	          <label for="deadlines">Describe any moving deadlines</label>
	         	<br>
	          <textarea type="text" name="deadlines"></textarea>
	 		  	<br>
	 		  <label for="furniture">List all furniture (estimate sizes)</label>
	         	<br>
	          <textarea type="text" name="furniture"></textarea>
	          	<br>
	          <label for="valuable">List valuable items</label>
	         	<br>
	          <textarea type="text" name="valuable"></textarea>
	          	<br>
	          <label for="assemble">List things that may require dis-assembly/re-assembly</label>
	         	<br>
	          <textarea id="article-input" type="text" name="assemble"></textarea>
	          	<br>
	          <label for="smallbox">Number of small boxes</label>
	          	<br>
	          <input type="number" name="smallbox">
	          	<br>
	          <label for="mediumbox">Number of medium boxes</label>
	          	<br>
	          <input type="number" name="mediumbox">
	          	<br>
	          <label for="largebox">Number of large boxes</label>
	          	<br>
	          <input type="number" name="largebox">
	          	<br>
	          <label for="wardrobebox">Number of wardrobe boxes</label>
	          	<br>
	          <input type="number" name="wardrobebox">
	          	<br>
	          <label for="other_items">Other items</label>
	          	<br>
		      <textarea id="article-input" type="text" name="other_items"></textarea>
		      	<br>
		      <label for="other">Other information</label>
	          	<br>
		      <textarea id="article-input" type="text" name="other"></textarea>
		      	<br>
		      <label for="customer_agreement" style="text-align:center"> By pressing submit, I agree to the <a href="/customer_agreement">customer terms and conditions</a><label>
		      <br><br>
	          <input id="submit" type="submit">
	        </form>
	        
	        <br>
	        CLICK<button style="margin: 0px 10px"><a href="https://www.dot.ny.gov/divisions/operating/osss/repository/Summary%20of%20Information%20for%20Shippers%20of%20Household%206-18-07.pdf" target="_blank">HERE</a></button>FOR NEW YORK STATE SUMMARY OF INFORMATION FOR SHIPPERS OF HOUSEHOLD GOODS
	        <br><br>
        <h4>USDOT NUMBER: 2872099</h4>
	</div></div>
	<div id="partner">
		<h1>Partner With Us</h1>
			<br>
			<h3>Do you know someone who is moving?</h3>
				<p>
				Refer your friends to Stride and get a 5 - 10%* referral fee. It's that easy!
				</p>
			<br>
			<h3>Do you work in real estate?</h3>
				<p>
				If you are a real estate agency or agent, <a href="#contact"><button id="contact_button">contact us</button></a> to become one of our official partners.
				</p>
				<p>
				All official get referral fees as well as advertising on our website.
				</p>
				<br><br><br><br>
				<p><em>
				*First time friend referrals get a 5% fee. After five referrals, get 10% for every friend you refer!
				<em></p>
	</div>
	<div id="contact">
		<div id="contact_pic">
		</div>
		<div id="footer">
			<div class="col1">
				<p>STRIDE MOVERS, LLC<br>699 Dekalb Avenue<br>Brooklyn, NY 11216</p>
				<p>USDOT NUMBER: 2872099</p>
			</div>
			<div class="col2">
				<p>Need help moving?<br>Contact us @ 917-822-6031<br>stridemovers@gmail.com</p>
			</div>
			<div class="col3">
				<a href="https://www.facebook.com/StrideMovers/" target="_blank"><img class="social_icons" src="images/facebook_icon.png"></a>
        		<a href="https://twitter.com/StrideMovers" target="_blank"><img class="social_icons" src="images/twitter_icon.png"></a>
        		<a href="https://www.linkedin.com/in/james-parker-b4b612119" ><img class="social_icons" src="images/linkedin_icon.png"></a>
        		<a href="https://www.pinterest.com/stridemovers/" target="_blank"><img class="social_icons" src="images/pinterest_icon.png"></a>
			</div>
		</div>
	</div>

</div>
