
<nav>
	<li id="headline"><a href="/">STRIDE MOVERS</a></li>
	<ul>
		<li><a href="#about">About</a></li>
		<li><a href="#movingtips">Moving Tips</a></li>
		<li><a href="#testimonials">Testimonials</a></li>
		<li><a href="#fleet">Our Fleet</a></li>
		<li><a href="#quote">Quote</a></li>
	</ul>
</nav>
<div id="big_image_background">
</div>
<div class="main">

	<div id="about">
		<div id="about_content">
			<h1>Brooklyn's Most Trusted Movers</h1>
				<p>
					Whether you're staying in NYC or headed out of town, we've got you covered. We are a full-service moving company providing comprehensive services for local and long-distance residential and/or commercial moves.
				</p>
			<h3>History:​</h3>
				<p>
					Our founder James Parker has been in​ the moving business since the age of fifteen​.​ He started​ Stride Movers​ with a simple but sincere mission​ - ​to provide impeccable customer service and get the job done right. Every time​.
				</p>
				<p>
					Every move we do, regardless of size or location, receives the same degree of professionalism and attention to detail. Through preparation, experience, and solid work ethic, we transform moving from a stressful experience to a seamless one.
				</p>
		</div>
		<img src="images/7.jpg">
		<img src="images/2.jpg">
		<img src="images/5.jpg">
	<!-- <img src="images/1.jpg">
		<img src="images/3.jpg">
		<img src="images/4.jpg">
		<img src="images/5.jpg">
		<img src="images/6.jpg">
		<img src="images/8.jpg">
		<img src="images/9.jpg"> -->
	</div>
	<div id="movingtips">
		<h1>Be Prepared</h1>
			<br><br>
			<p>Make sure that you have <b>moving permission</b> from the building if you need it. Many New York buildings have rules about moving times, and which doors can be used. If there is an elevator on either end, and it needs to be reserved through your building management for moves, remember to reserve it.</p>
			<p><b>Protect your valuables</b>. Fragile items (dishes, pictures and glass) should be protected. Wrap glass pictures in cardboard and/or bubble-wrap.</p>
			<p><b>Be Packed</b>. Don’t pack a giant box full of books. Use small boxes or only put some books in the box, and fill the rest with lighter items. </p>
			<p>If you need to use garbage bags, <b>use contractor bags</b> (find them in any hardware store)</p>
			<p><b>Dismantle</b> your bed and futon frames ahead of time.</p>
			<p>Empty all drawers.</p>
			<h3><b>Don't wait until the last minute!</b></h3>
			<br>
			<p><b>Check out some more tips here:</b></p>

			<button>
				<a href="http://www.buzzfeed.com/peggy/brilliant-moving-tips#.uizz6YLN3" target="_blank"><img src="images/BuzzFeed_logo.png"><br>Brilliant Moving Tips</a>
			</button>
			<button>
				<a href="http://moving.about.com/od/packingtipsandtricks/tp/pop_packing_tip.htm" target="_blank"><img src="images/abouthome_logo.jpeg" height="50px"><br>How to Pack Without Breaking</a>
			</button>
			<button>
				<a href="http://www.realsimple.com/home-organizing/organizing/moving/moving-packing-tips" target="_blank"><img src="images/realsimple_logo.png"><br>Moving & Packing Tips</a>
			</button>
			<br>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/F_OeM6npgKA" frameborder="0" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/GBKNTvdqEZg" frameborder="0" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/UZY7Wdngnfs" frameborder="0" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/CNT81i5KypA" frameborder="0" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/SKD6I7ckKM0" frameborder="0" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/HsATFze_w7k" frameborder="0" allowfullscreen></iframe>
	</div>
	<div data-stellar-ratio="2" id="testimonials">
		<div class="individual_testimonial">
			<h1>Testimonials</h1>
				<h4>Hear what some of our satisfied customers are saying, and check us out on <br><a href="https://www.yelp.com/biz/stride-movers-brooklyn" target="_blank"><img src="images/yelp.png"></a></h4>
		</div>
		<div id="all_testimonials">
			<div class="individual_testimonial">
				<p>James helped move me in to my current apartment in Brooklyn a few years back before he started Stride. He's <b>hands down the best</b>. I don't even know how he managed to get our couch into a basement around an impossible corner of rough cement walls without a single mark, but he did and he made it look pretty effortless. Everything was well taken care of and he listened to us and planned out the move perfectly. Moving is an art and <b>this dude is a master</b>. He's also really level headed and has worked as a mover for years in the city moving all types of folks from well off financial people with expensive everythings to your run of the mill musicians with day jobs like myself before venturing on to start his own company. If you're lucky enough to be able to book these folks for your date, then take them before anyone else. <b>Highly highly recommended!</b></p>
				<h4>- James L.</h4>
			</div>
			<div class="individual_testimonial">
				<p>Don't look any further! I've worked with James and his crew on several different occasions and all times were EXCELLENT. He is my go-to mover and heavy lifter! I manage a high end furniture showroom in Soho and brought James and his team in as our regular movers. They understood the delicacy of handling our very expensive items but always finished the <b>job ahead of schedule</b>! I also used James and his team on several residential projects where he moved, assembled, and installed a variety of pieces for myself or my clients. James has an eye for space and when someone else says you need two trucks or two trips to get the job done, <b>James makes it happen</b> in one! He doesn't do this by cutting corners. He does this by using his brain and years of experience!!!</p>
				<br>
				<h4>- Mel S.</h4>
			</div>
				<div class="individual_testimonial">
				<p><b>Amazing.</b> Professional, experienced, lovely. A thorough, long-distance job from NYC to DC with a stop at my New York storage unit. Have worked with pricey, reputable companies in the city and found Stride Movers to be just as wonderful and a fraction of the price. James, the owner, clearly knows what he's doing and is wonderful from start to finish. My <b>furniture was beautifully wrapped and protected</b> and he went above and beyond to make sure everything was organized, safe, and stress-free for the client. I highly recommend Stride Movers. I almost felt guilty for how easy James and co. made what is usually such a stressful endeavor. They treated me and my things with a care and respect that <b>exceeded expectations</b>. Excellent value, excellent service. Whether you're working with a budget or simply looking for NYC's best movers, this is who you should call.</p>
				<h4>- Abigail C.</h4>
			</div>
		</div>
	</div>
	<div id="fleet">
		<h1>Our Fleet</h1>
			<h3>We will help you decide which vehicle is best for you</h3>
				<h4>Cargo Van</h4>
					<img src="images/cargo_van.png"><br>
				<h4>20ft Box Truck</h4>
					<img src="images/20foot.png"><br>
				<h4>26ft Box Truck</h4>
					<img src="images/26foot.png"><br>
	</div>
	<div id="quote">
		<h1>Need a quote? Have moving questions or need packing advice?</h1>
		<h1>Contact us @ 917-822-6031</h1>

		<form action="/email" method="POST">
          <input type="text" name="name" placeholder="Your Name">
          <br>
          <input type="text" name="mail" placeholder="Your Email">
          <br>
          <input type="text" name="number" placeholder="Your Phone">
          <br>
          <textarea id="article-input" type="text" rows="9" cols="20" name="comment" placeholder="Your Message"></textarea>
          <base><br></base>
          <input type="submit">
        </form>

		<br><br>
		<div id="contact_pic">
		</div>
	</div>

</div>
